.credits {
    width: 100%;
    min-height: 100vh;
}

.credits__container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-topdown-poem-container) var(--padding-sides-poem-container) var(--padding-topdown-poem-container) var(--padding-sides-poem-container);
    line-height: 1.5;
    gap: 1rem;
}

.credits__title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.credits__text {
    font-size: 0.8rem;
}

.credits__text a {
    color: inherit;
}