@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Nothing You Could Do';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/nothing-you-could-do-400.woff2') format('woff2');
    font-display: swap;
}