.home {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
}

.home__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5vh 5vw 5vh 5vw;
	gap: var(--gap-home-container);
}

.home__titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1;
}

.titles__title {
	font-size: 3.5rem;
}

.titles__subtitle {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 1.8rem;
	font-weight: 400;
}

.home__form {
	position: relative;
}

.form__input-field {
	display: flex;
	flex-direction: row;
	transition: border-color 0.2s;
	border-bottom: 2px solid var(--color-font-secondary);
}

.form__input-field:focus-within {
	border-bottom: 2px solid var(--color-font-primary);
}

.form__input-field:focus-within .form__button {
	fill: var(--color-font-primary);
}

.form__input-field:focus-within>.form__label {
	display: block;
	position: absolute;
	top: -0.6rem;
	transition: 0.2s;
	color: var(--color-font-primary);
	font-size: 0.8rem;
	font-weight: 700;
}

.form__input {
	outline: 0;
	background: transparent;
	padding: 7px 0;
	text-transform: capitalize;
	color: var(--color-font-primary);
	font-family: inherit;
	font-size: 1rem;
}

.form__input::placeholder {
	color: transparent;
}

.form__input:not(:placeholder-shown)~.form__label {
	top: -0.6rem;
	font-size: 0.8rem;
}

.form__button {
	outline: 0;
	background: transparent;
	padding: 0vh 1vw 0vh 1vw;
	min-width: 50px;
	min-height: 50px;
	font-family: inherit;
	font-size: 0rem;
	fill: var(--color-font-secondary);
}

.form__button:hover {
	cursor: pointer;
}

.form__icon {
	width: 1rem;
	height: 1rem;
}

.form__label {
	display: block;
	position: absolute;
	top: 0;
	transition: 0.2s;
	color: var(--color-font-secondary);
	font-size: 1rem;
}

.form__validation {
	color: var(--color-font-validation);
	font-size: 0.7rem;
}