.poem {
    width: 100%;
    min-height: 100vh;
}

.poem__container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-topdown-poem-container) var(--padding-sides-poem-container) var(--padding-topdown-poem-container) var(--padding-sides-poem-container);
    line-height: 1.5;
    gap: 1rem;
}

.poem__title {
    font-size: 1.5rem;
}

.poem__text {
    color: var(--color-font-poem);
    font-size: 0.8rem;
}

.poem__text--blue {
    color: var(--color-font-poem-secondary);
}